* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 80%;
}

body {
  color: #444;
  background: #eee;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
}

.header-top {
  background: #4a154b;
  color: white;
  padding: 4rem 0;
  text-align: center;
  margin-bottom: 4rem;
}

.header-top .title {
  font-size: 4.2rem;
  margin-bottom: 0.4rem;
  text-align: center;
  width: 100%;
}

.search-bar {
  margin-bottom: 2rem;
}

.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
  border-top: thin solid lightgray;
  margin: 1rem 0;
}

.video-item:first-child {
  border: none;
  margin-top: -1rem;
}

.video-item:hover {
  opacity: 0.7;
}

.video-item.item img {
  max-width: 180px;
  margin-top: 1rem;
}

.video-item.item .content {
  padding: 1rem;
}

.dots-loading {
  margin: 0 auto;
  text-align: center;
}

.dots-loading::before,
.dots-loading::after {
  content: " ";
}

.dots-loading div,
.dots-loading::before,
.dots-loading::after {
  margin: 35px 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #c4c4c4;
  opacity: 0;
}

.dots-loading::before {
  -moz-animation: opacitychange 1s ease-in-out infinite;
  -webkit-animation: opacitychange 1s ease-in-out infinite;
  -o-animation: opacitychange 1s ease-in-out infinite;
  animation: opacitychange 1s ease-in-out infinite;
}

.dots-loading div {
  -moz-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.33s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.33s infinite;
  animation: opacitychange 1s ease-in-out 0.33s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

.dots-loading::after {
  -moz-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation: opacitychange 1s ease-in-out 0.66s infinite;
  -o-animation: opacitychange 1s ease-in-out 0.66s infinite;
  animation: opacitychange 1s ease-in-out 0.66s infinite;
  -webkit-animation-fill-mode: infinite;
  animation-fill-mode: infinite;
}

@keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}

@-webkit-keyframes opacitychange {
  0%,
  100% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }
}
